* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0%;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

body {
  background: wheat;
}

header {
  height: 80px;
  z-index: 100;
}
header .logo img {
  width: 60px;
  height: 60px;
}
header .nav-container {
  width: 70%;
  height: 100%;
  padding: 15px;
}
header .nav-container .navigation {
  width: 90%;
  background: transparent;
}
header .nav-container .navigation .main-menu {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
header .nav-container .navigation .main-menu .nav-item {
  color: #e079e0;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .navigation .main-menu .nav-item:hover {
  text-decoration: underline overline;
  transition: 2s;
  font-size: 22px;
}
header .nav-container .hamburger-button {
  display: none;
  border: none;
  padding: 15px;
  background: transparent;
}
header .nav-container .mobile-container {
  width: 300px;
  height: 400px;
  background: wheat;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  transform: translateY(-500px);
}
header .nav-container .mobile-container .nav-item {
  color: black;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .mobile-container.open {
  transform: translateY(0px);
  z-index: 100;
}
header .nav-container .mobile-container li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #e079e0;
}

@media screen and (max-width: 750px) {
  .hamburger-button {
    display: block !important;
    position: absolute;
    right: 0;
    top: 2%;
  }

  .navigation {
    display: none !important;
  }
}
.hero {
  height: 600px;
  background: url("../../images/great1.jpg");
  background: teal;
  position: relative;
}
.hero .hero-content {
  opacity: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  transition: 0.3s linear;
  transform: translate(-150px, 0px);
}
.hero .hero-content h1 {
  color: white;
}
.hero .hero-content h1:first-letter {
  color: #e079e0;
}
.hero .hero-content h2 {
  color: #e079e0;
}
.hero .hero-content:hover {
  opacity: 1;
  transform: translate(0px, 0px);
}

.about .about-me {
  width: 60%;
  position: relative;
  margin: 3%;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}
.about .about-me h1 {
  color: #e079e0;
  text-align: center;
}
.about .about-me .intro:first-letter {
  font-size: 200%;
}
.about .about-me .quote {
  font-size: 30px;
  color: #e079e0;
}
.about .pic-sign {
  margin: 25px;
}
.about .pic-sign .profile-pic {
  height: 300px;
  width: 300px;
  background: #e079e0;
  margin: 4% auto;
}
.about .pic-sign .profile-pic img {
  width: 100%;
  height: 100%;
  padding: 2%;
}
.about .pic-sign .sign {
  height: 80px;
  width: 150px;
  transform: rotate(-20deg);
}
.about .pic-sign .sign img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }
  .about .about-me {
    width: 70%;
  }
  .about .profile-pic {
    width: 50%;
  }
}
@media screen and (max-width: 780px) {
  .about .profile-pic {
    width: 50%;
    height: 250px;
  }
}
.other-hero {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.other-hero .other-hero-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(white 10%, #F1C619 40%, #e079e0);
  transform: skewY(-4deg);
  transform-origin: top left;
}

.work-heading {
  transform: rotate(4deg);
}

.work4, .work3, .work2, .cards-container .work1 {
  height: 500px;
  width: 22%;
  margin: 15px;
  border-radius: 20px;
}

.work4 .learn4, .work3 .learn3, .work2 .learn2, .cards-container .work1 .learn1 {
  font-family: "Raleway", sans-serif;
  height: 15%;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  background: #F581BE;
}

.work4 .description4, .work3 .description3, .work2 .description2, .cards-container .work1 .description1 {
  height: 40%;
  text-align: center;
  padding: 15px;
  background: #4d524824;
}

.work-link {
  text-decoration: none !important;
}

.work-link:hover {
  transition: 0.8s;
  font-size: 24px;
  color: black;
}

.cards-container {
  width: 95%;
  margin: 20px auto;
}
.cards-container .work1 .pic1 {
  height: 45%;
}
.cards-container .work1 .pic1 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
.work2 .pic2 {
  height: 45%;
}
.work2 .pic2 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
.work3 .pic3 {
  height: 45%;
}
.work3 .pic3 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
.work4 .pic4 {
  height: 45%;
}
.work4 .pic4 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1050px) {
  .cards-container .work1, .cards-container .work2, .cards-container .work3, .cards-container .work4 {
    width: 40%;
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .cards-container .work1, .cards-container .work2, .cards-container .work3, .cards-container .work4 {
    width: 80%;
    height: 400px;
  }
}
header {
  height: 80px;
  z-index: 100;
}
header .logo img {
  width: 60px;
  height: 60px;
}
header .nav-container {
  width: 70%;
  height: 100%;
  padding: 15px;
}
header .nav-container .navigation {
  width: 90%;
  background: transparent;
}
header .nav-container .navigation .main-menu {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
header .nav-container .navigation .main-menu .nav-item {
  color: #e079e0;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .navigation .main-menu .nav-item:hover {
  text-decoration: underline overline;
  transition: 2s;
  font-size: 22px;
}
header .nav-container .hamburger-button {
  display: none;
  border: none;
  padding: 15px;
  background: transparent;
}
header .nav-container .mobile-container {
  width: 300px;
  height: 400px;
  background: wheat;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  transform: translateY(-500px);
}
header .nav-container .mobile-container .nav-item {
  color: black;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .mobile-container.open {
  transform: translateY(0px);
  z-index: 100;
}
header .nav-container .mobile-container li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #e079e0;
}

@media screen and (max-width: 750px) {
  .hamburger-button {
    display: block !important;
    position: absolute;
    right: 0;
    top: 2%;
  }

  .navigation {
    display: none !important;
  }
}
.other-hero {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.other-hero .other-hero-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(white 10%, #F1C619 40%, #e079e0);
  transform: skewY(-4deg);
  transform-origin: top left;
}

.contact-heading {
  transform: rotate(4deg);
}

form {
  width: 40%;
}
form .button {
  text-align: center;
}
form .button button {
  background: #e079e0;
}

header {
  height: 80px;
  z-index: 100;
}
header .logo img {
  width: 60px;
  height: 60px;
}
header .nav-container {
  width: 70%;
  height: 100%;
  padding: 15px;
}
header .nav-container .navigation {
  width: 90%;
  background: transparent;
}
header .nav-container .navigation .main-menu {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
header .nav-container .navigation .main-menu .nav-item {
  color: #e079e0;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .navigation .main-menu .nav-item:hover {
  text-decoration: underline overline;
  transition: 2s;
  font-size: 22px;
}
header .nav-container .hamburger-button {
  display: none;
  border: none;
  padding: 15px;
  background: transparent;
}
header .nav-container .mobile-container {
  width: 300px;
  height: 400px;
  background: wheat;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  transform: translateY(-500px);
}
header .nav-container .mobile-container .nav-item {
  color: black;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .mobile-container.open {
  transform: translateY(0px);
  z-index: 100;
}
header .nav-container .mobile-container li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #e079e0;
}

@media screen and (max-width: 750px) {
  .hamburger-button {
    display: block !important;
    position: absolute;
    right: 0;
    top: 2%;
  }

  .navigation {
    display: none !important;
  }
}
.other-hero {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.other-hero .other-hero-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(white 10%, #F1C619 40%, #e079e0);
  transform: skewY(-4deg);
  transform-origin: top left;
}

.sections-container .section3, .sections-container .section2, .sections-container .section1 {
  width: 22%;
  height: 550px;
  margin: 15px;
  border-radius: 20px;
}

.sections-container .section3 .description3, .sections-container .section2 .description2, .sections-container .section1 .description1 {
  height: 200px;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  border-radius: 0px 0px 20px 20px;
}

.sections-container .section3 .button, .sections-container .section2 .button, .sections-container .section1 .button {
  font-family: "Raleway", sans-serif;
  height: 15%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  background: #F581BE;
  border: none;
}

.resume-heading {
  transform: rotate(4deg);
}

.sections-container {
  width: 95%;
  margin: 20px auto;
}
.sections-container .section1 {
  background: white;
}
.sections-container .section1 .heading1 {
  height: 35%;
}
.sections-container .section1 .heading1 img {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 100%;
}
.sections-container .section1 .description1 li {
  list-style: inside;
}
.sections-container .section1 .transform1 {
  transition: all 2s ease;
}
.sections-container .section1 .transform1-active {
  font-size: 18px;
  background-color: #f581be6e;
}
.sections-container .section2 {
  background: white;
}
.sections-container .section2 .heading2 {
  height: 35%;
  width: 100%;
}
.sections-container .section2 .heading2 img {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 100%;
}
.sections-container .section2 .description2 li {
  list-style: inside;
}
.sections-container .section2 .transform2 {
  transition: all 2s ease;
}
.sections-container .section2 .transform2-active {
  font-size: 18px;
  background-color: #f581be6e;
}
.sections-container .section3 {
  background: white;
}
.sections-container .section3 .heading3 {
  height: 35%;
}
.sections-container .section3 .heading3 img {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 100%;
}
.sections-container .section3 .description3 li {
  list-style: inside;
}
.sections-container .section3 .transform3 {
  transition: all 2s ease;
}
.sections-container .section3 .transform3-active {
  font-size: 18px;
  background-color: #f581be6e;
}

header {
  height: 80px;
  z-index: 100;
}
header .logo img {
  width: 60px;
  height: 60px;
}
header .nav-container {
  width: 70%;
  height: 100%;
  padding: 15px;
}
header .nav-container .navigation {
  width: 90%;
  background: transparent;
}
header .nav-container .navigation .main-menu {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
header .nav-container .navigation .main-menu .nav-item {
  color: #e079e0;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .navigation .main-menu .nav-item:hover {
  text-decoration: underline overline;
  transition: 2s;
  font-size: 22px;
}
header .nav-container .hamburger-button {
  display: none;
  border: none;
  padding: 15px;
  background: transparent;
}
header .nav-container .mobile-container {
  width: 300px;
  height: 400px;
  background: wheat;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  transform: translateY(-500px);
}
header .nav-container .mobile-container .nav-item {
  color: black;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
}
header .nav-container .mobile-container.open {
  transform: translateY(0px);
  z-index: 100;
}
header .nav-container .mobile-container li {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #e079e0;
}

@media screen and (max-width: 750px) {
  .hamburger-button {
    display: block !important;
    position: absolute;
    right: 0;
    top: 2%;
  }

  .navigation {
    display: none !important;
  }
}
.other-hero {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.other-hero .other-hero-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(white 10%, #F1C619 40%, #e079e0);
  transform: skewY(-4deg);
  transform-origin: top left;
}

.projects-heading {
  transform: rotate(4deg);
}

.projects-container {
  padding: 20px;
}
.projects-container .project {
  background: red;
  height: 300px;
  width: 300px;
  margin: 2%;
  border-radius: 20px;
  position: relative;
}
.projects-container .project img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.projects-container .project .animation {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0%;
  left: 0%;
  background: transparent;
  padding: 20px;
}
.projects-container .project .animation h3 {
  opacity: 0;
  color: #6d0d40;
}
.projects-container .project .animation:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 300px;
  background: rgba(194, 102, 197, 0.3);
  border-radius: 20px;
  transition: all 2s ease;
}
.projects-container .project .animation:hover:before {
  width: 100%;
}
.projects-container .project .animation:hover h3 {
  transition: 2s;
  opacity: 1;
}

.cms-projects {
  height: 150px;
  background: linear-gradient(white 10%, #F1C619 40%, #e079e0);
}

footer {
  height: 100px;
  padding: 2%;
}
footer .social-icons {
  width: 150px;
  margin: 20px;
}
footer .important {
  margin: 25px;
}
footer .icon-link:hover {
  transform: scale(1.2);
  transition: 1.2s;
  color: #e079e0;
}

/*# sourceMappingURL=index.css.map */
