
// *********Footer Section***************
@import "./variables.scss";
footer{
    height: 100px;
    padding: 2%;
    .social-icons{
        width:150px;
        margin:20px;
    }
    .important{
        margin: 25px;
    }
    .icon-link:hover{
        transform: scale(1.2);
        transition: 1.2s;
        color: $pink;
    }
}
