// ********Hero section*****************
// ********Other than main page***********
@import "variables.scss";
.other-hero{
    height: 350px;
    position: relative;
    overflow: hidden;
   .other-hero-inner{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient($pink2 5%,$pink);
        transform: skewY(-4deg);
        transform-origin: top left;
    }
}