// ********Hero section*****************
// ********Other than main page***********
@import "variables.scss";
.other-hero{
    height: 450px;
    // background:url('../images/a-l-l-e-f-v-i-n-i-c-i-u-s-205147-unsplash.jpg');
    // background: teal;
    // background-size: cover;
    // background-position: center;
    position: relative;
    overflow: hidden;
   .other-hero-inner{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: teal;
        // background-image: linear-gradient(#af902f, #ff6126);
        background-image: linear-gradient(white 10%, $orange 40%, $pink);
        // background: url("../images/great.jpg");
        // background-size: cover;
        // background-position: center;
        transform: skewY(-4deg);
        transform-origin: top left;
    }
}