// ********Variables***********
$secondary-color1:#53F5A1;
$secondary-color2:#2FF28D;
$secondary-color3:#25BF6F;
$secondary-color4:#017338;
$primary-color1:#F58398;
$primary-color2:#F2697F;
$primary-color3:#BF5364;
$primary-color4:#731726;
$pink:#F220A7;
$pink-lg:#F581BE;
$pink2:#BF4284;
$orange:#F1C619;
$orange-lg:#F3CE38;

// $font-family: 'Lobster', cursive;
// $font-family: 'El Messiri', sans-serif;
$font-family: 'Raleway', sans-serif;
