// ********Variables***********
// $pink:#F220A7;
$pink:rgb(224, 121, 224);
$pink-lg:#F581BE;
$pink2:#BF4284;
$orange:#F1C619;
$orange-lg:#F3CE38;

// $font-family: 'Lobster', cursive;
// $font-family: 'El Messiri', sans-serif;
$font-family: 'Raleway', sans-serif;
