@import "../variables.scss";
  //*****************Hero Section*************
.hero{
        height: 600px;
        background: url("../images/web.jpg");
        background-size: cover;
        background-position: center;
      

       .hero-content{
        opacity: 0;
        height: 100%;
        font-family: $font-family;
        font-size: 28px;
        transition: 0.3s linear;
        transform: translate(-150px,0px);
        h1{
            color:white;
        }
        h1:first-letter{
            color:$pink;
        }
        h2{
            color:$pink;
        }
    }
    
}
.hero:hover{
    .hero-content{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

