// ***********Work Section***************
@import "../variables.scss";
@import "../other-hero.scss";
.work-heading{
    transform: rotate(4deg);
}
%card{
    height: 500px;
    width: 22%;
    margin: 15px;
    border-radius: 20px;
}
%learn{
    font-family: $font-family;
    height:15%;
    text-align: center;
    font-size: 22px;
    padding: 15px;
    border-radius: 0px 0px  20px 20px;
    background:$pink-lg;
}
%description{
    height:40%;
    text-align: center;
    padding: 15px;
    background: #4d524824;
}
.work-link{
    text-decoration: none !important;
}
.work-link:hover{
    transition: 0.8s;
    font-size: 24px;
    color: black;
}
.cards-container{
    width: 95%;
    margin: 20px auto;
    .work1{
        @extend %card;
        .pic1{
            height:45%;
            img{
                border-radius: 20px 20px 0px 0px;
                width: 100%;
                height: 100%;
            }
        }
        .description1{
            @extend %description;
        }
        .learn1{
            @extend %learn;
        }
    }
}
.work2{
    @extend %card;
	.pic2{
		height:45%;
        img{
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 100%;
        }
	}
	.description2{
		@extend %description;
	}
	.learn2{
        @extend %learn;
	}
}
.work3{
    @extend %card;
	.pic3{
		height:45%;
        img{
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 100%;
        }
	}
	.description3{
		@extend %description;
	}
	.learn3{
		@extend %learn;
	}
}
.work4{
    @extend %card;
	.pic4{
        height:45%;
        img{
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 100%;
        }
	}
	.description4{
		@extend %description;
	}
	.learn4{
		@extend %learn;
	}
}
@media screen and  (max-width:1050px){
    .cards-container{
        .work1,.work2,.work3,.work4{
            width:40%;
            height: 400px;
        }
    }
}
@media screen and  (max-width:750px){
    .cards-container{
        .work1,.work2,.work3,.work4{
            width:80%;
            height: 400px;
        }
    }
}