// *********Contact Page**********
@import "../header.scss";
@import "../other-hero.scss";
.contact-heading{
    transform: rotate(4deg);
}
form{
    width: 40%;
    // padding: 20px;
    // margin: auto;
    .button{
       text-align: center;
        button{
            background: $pink;
        }
    }
}

